<footer class="site-footer">

  <div class="wrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <h3 class="card-header">{{ site.title | escape }}</h3>
          {% if site.author %}
            <div class="card-block">
              <h5 class="card-title">{{ site.author | escape }}</h5>
              {% if site.email %}
                <h4 class="card-subtitle text-muted"><a href="mailto:{{ site.email }}">{{ site.email }}</a></h4>
              {% endif %}
            </div>
          {% endif %}
          {% if site.profileImg %}
            <img style="height: 200px; width: 100%; display: block;" src="{{ site.profileImg }}" />
          {% endif %}
        </div>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          {% if site.github_username %}
          <li class="list-group-item">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="list-group-item">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
