<p>
  St. Catherine is a parish of
The Antiochian Orthodox Christian Archdiocese of North America,
Diocese of Miami and The Southeast.
This is the American jurisdiction of the same Church of Antioch
mentioned in the New Testament (Acts 11:26).
In 1995, we entered the Orthodox Church in this Archdiocese because it was
and still is very open to the reception of converts.
The Antiochian Archdiocese,
under the leadership of His Eminence Metropolitan Joseph,
sees itself on a mission to bring America to the ancient
Orthodox Christian Faith.
Because of this attitude,
the Archdiocese has experienced tremendous growth in the last twenty years.
</p>